# Ignore everything
/*

# ignore any top-level external folders
/U2Seg/
/CutLER/
/data/images/
/STEGO/

# keep git config and modules
!/.gitignore
!/.gitmodules

# keep these root files
!/CutLER.md
!/facebook_sam.ipynb
!/generate_coco_json.py
!/README.md
!/DESCRIPTION.md
!/register_silkworm.py
!/requirements.txt
!/threshold_train.ipynb
!/threshold_train_multi.ipynb
!/threshold_mask.ipynb
!/U2Seg.md
!/DINO_segmentation.ipynb
!/RepNeXt.ipynb
!/MobileViT.ipynb
!/SegFormer.ipynb
!/segformer_b0_best.pth

# keep these root folders
# !/experiments/